@using Orchard.Utility.Extensions;
@{
    var layoutParts = (IEnumerable<Orchard.ContentManagement.IContent>)Model.ContentPart.LayoutParts;
}
@if (layoutParts.Any())
{
    <p class="content-layout-map">
        <span class="name">@T("Related layout parts"):</span>
        @(new HtmlString(string.Join(", ", layoutParts.Select(c => Html.ItemEditLink(c.ContentItem).ToString()).ToArray())))
    </p>
}